/*=====================
FONTS LINK HERE
======================*/

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	box-sizing: border-box;
}
/*======================
DEFAULT CSS HERE
========================*/
:root {
	--Inter: "Inter", sans-serif;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #fafafa;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a,
a:hover {
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

::selection {
	color: white;
	background: #ff7675;
}

::-webkit-selection {
	color: white;
	background: #ff7675;
}

::-moz-selection {
	color: white;
	background: #ff7675;
}

.scrolltotop {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #008b8b;
	text-align: center;
	font-size: 22px;
	color: #ffffff;
	position: fixed;
	right: 30px;
	bottom: 25px;
	display: none;
	animation: lab_top_up 5s linear infinite;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
}

.scrolltotop i {
	color: #ffff;
}

@keyframes lab_top_up {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-15px);
	}
}

.pluse,
.pluse2 {
	position: relative;
	top: 13px;
	left: -8px;
	z-index: -1;
}

.pluse::before,
.pluse2::before {
	width: 40px;
	height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
	background: #008b8b;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	display: block;
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
}

.pluse::after,
.pluse2::after {
	width: 30px;
	height: 30px;
	background: transparent;
	margin-left: -15px;
	margin-top: -15px;
}

.pluse::before {
	-webkit-animation: pluse_animate 2.5s infinite linear;
	animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
	-webkit-animation: pluse_animate 3s infinite linear;
	animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
	0% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(0.3);
		transform: translate(-50%, -50%) scale(0.3);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(2);
		transform: translate(-50%, -50%) scale(2);
	}
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

/*======================
HEADER CSS HERE
========================*/
.header-area {
	padding-top: 36px;
	padding-bottom: 50px;
	background-color: #0e1624;
}

.header-logo a img {
	max-width: 200px;
}

.desktop-menu-card ul {
	display: flex;
	align-items: center;
	column-gap: 36px;
}

.desktop-menu-card ul li a {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	position: relative;
}

.SMN_effect-14 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.SMN_effect-14 a:before {
	position: absolute;
	top: 70%;
	left: 50%;
	color: transparent;
	content: "•";
	text-shadow: 0 0 transparent;
	font-size: 13pt;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.SMN_effect-14 a:hover:before,
.SMN_effect-14 a:focus:before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}

.login-btn a {
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	background: #47b86c;
	padding: 9px 43px;
	border: 1px solid #47b86c;
	transition: background 0.3s ease-in-out;
}

.login-btn a:hover {
	background: transparent;
}

.hamburger .line {
	width: 40px;
	height: 3px;
	background-color: #ecf0f1;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover {
	cursor: pointer;
}
.offcanvas-header {
	background-color: #0e1624;
}

#offcanvasRightLabel img {
	width: 100px;
}
.btn-close {
	box-sizing: content-box;
	width: 1em;
	height: 1em;
	padding: 0.25em 0.25em;
	color: #000;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF' %3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat !important;
	border: 0;
	border-radius: 0.25rem;
	opacity: 1 !important;
}

.btn-close:focus {
	box-shadow: none;
}

.offcanvas-body .desktop-menu-card ul {
	flex-direction: column;
	gap: 20px;
	padding-top: 20px;
}

.offcanvas-body .desktop-menu-card ul li a {
	color: #0e1624;
	font-weight: 500;
	font-size: 18px;
}

.offcanvas-body .desktop-menu-card ul li:last-child a {
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.offcanvas-body .desktop-menu-card ul li:last-child a:hover {
	color: #0e1624;
}

/*======================
FOOTER AREA CSS HERE
========================*/
.footer-area {
	background: #0e1624;
}

.footer-top-wrpper {
	padding-top: 100px;
	padding-bottom: 70px;
}

.footer-top-wrpper > h2 {
	color: #fff;
	font-size: 38px;
}

.footer-list h3 {
	color: #47b86c;
	font-size: 28px;
}

.footer-list ul {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding-top: 40px;
}

.footer-list ul li a {
	color: #fff;
	font-size: 20px;
}

.contact-info li {
	display: flex;
	align-items: center;
}

.contact-info li span:first-child {
	width: 50px;
	display: inline-block;
	margin-right: 5px;
}
.contact-info li span:last-child {
	width: calc(100% - 50px);
}

.contact-info li i {
	color: #47b86c;
	font-size: 30px;
}

.contact-info li span {
	color: #fff;
	font-size: 20px;
	line-break: anywhere;
}

.contact-info {
	padding-right: 113px;
}

.footer-top-wrpper .row {
	margin-top: 60px;
}

.footer-bottom-wrpper {
	padding-bottom: 40px;
}

.footer-bottom-wrpper p {
	color: #fff;
	text-align: center;
	font-size: 18px;
}

/*======================
Login Form AREA CSS HERE
========================*/
.login-form-area {
	padding-top: 100px;
	padding-bottom: 113px;
}

.login-form-wrpper form {
	max-width: 400px;
	margin: auto;
}

.login-form-wrpper h2 {
	color: #000;
	font-family: var(--Inter);
	font-size: 34.4px;
	text-align: center;
	margin-bottom: 60px;
}

.login-form-wrpper form > label {
	display: block;
	color: #010101;
	font-family: var(--Inter);
	font-size: 16.4px;
	margin-bottom: 18px;
}

.login-form-wrpper form input {
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	background: #fff;
	padding-left: 21px;
	padding-top: 16px;
	padding-bottom: 11px;
	color: #b1b1b1;
	font-family: var(--Inter);
	font-size: 16.4px;
	width: 100%;
}

.login-form-wrpper form input:focus {
	outline: none;
}

.custom-checkbox {
	display: flex;
	align-items: center;
}

.custom-checkbox input {
	display: none;
}

.checkmark {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 2px solid #0266d6;
	border-radius: 4px;
	margin-right: 10px;
	position: relative;
	display: inline-flex;
}

.custom-checkbox input:checked + .checkmark {
	background-color: #0266d6;
}

.checkmark::after {
	content: "";
	position: absolute;
	display: none;
}

.custom-checkbox input:checked + .checkmark::after {
	display: block;
}

.checkmark::after {
	left: 5px;
	top: 2px;
	width: 6px;
	height: 10px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.custom-checkbox a {
	margin-left: 5px;
}

.confirm-box {
	margin-top: 25px;
}

.signup-btn button,
.otp-submit-btn button {
	color: #fff;
	text-align: center;
	font-family: var(--Inter);
	font-size: 18.4px;
	border-radius: 12px;
	background: #0eaf52;
	padding: 12px 0;
	width: 100%;
	border: 2px solid #0eaf52;
	transition: all 0.3s ease-in-out;
	margin-top: 63px;
}

.otp-submit-btn button {
	margin-top: 20px;
}

.signup-btn button:hover,
.otp-submit-btn button:hover {
	background: transparent;
	color: #0eaf52;
}

.login-form-wrpper form p {
	color: #010101;
	text-align: center;
	font-family: var(--Inter);
	font-size: 16.4px;
	margin-top: 42px;
}

.login-form-wrpper form p a {
	color: #3886de;
}

.login-form-wrpper small {
	color: #010101;
	font-family: var(--Inter);
	font-size: 16.4px;
	margin-top: 5px;
	display: block;
}

/*======================
TERMS CONDITION PAGE CSS HERE
========================*/
.terms-condition-area {
	padding: 85px 0;
}

.terms-condition-wrpper h2 {
	color: #000;
	font-size: 40px;
	margin-bottom: 15px;
}

.terms-condition-wrpper p,
.terms-condition-list {
	color: #000;
	font-size: 24px;
}

.terms-condition-list {
	padding-top: 15px;
}

.terms-condition-list ul {
	padding-top: 10px;
	list-style: disc;
	padding-left: 40px;
}

.terms-condition-list ul li {
	font-size: 20px;
}

/*======================
ARABIC BANNER PAGE CSS HERE
========================*/
.arabic-banner-area {
	padding-top: 80px;
	padding-bottom: 147px;
}

.banner-img img {
	display: block;
	margin: auto;
	border-radius: 35px;
	width: 100%;
	max-width: 840px;
}

.arabic-banner-cntn {
	padding-top: 25px;
}

.arabic-banner-cntn p {
	color: #000;
	font-size: 24px;
	max-width: 975px;
	margin-left: auto;
	margin-right: 0;
	margin-top: 15px;
}
